.container{
    text-align: center;
    background-color: rebeccapurple;

   
}
:root {
    --primary:lightblue;
    --black: #333333;
    --width-break:600px
}
textarea {
    display: block;
    text-align: center;
    margin-top: auto;
    font-family: inherit;
    border-radius: 4rem;
    border-top-left-radius: 1rem;
    border: block end width 2px;
    margin-right: auto;
    margin-left: auto;
    font-size:18px;padding:3px;
    padding-bottom: 1rem;
   
    
}
body {
    margin: 0;
    
    font-family: 'Kalam', cursive;
    color: #333333;
    padding-top: 1rem;
}
#txt-output {
    overflow: scroll;
   background-color: aliceblue;
    box-sizing: border-box;
    width: 85%;
    height: 30vh;
    border: 1px solid var(--black);
    padding-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}
main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
}
